# 1. Ignora todos os arquivos por padrão
*

# 2. NÃO ignora diretórios/subpastas (permite que o Git navegue por eles)
!*/

# 3. Libera os arquivos específicos em qualquer nível de subpasta
!*.c
!*.md
!.gitignore
